```{=html}
<ul>
<% for (const item of items) { %>
    <li value="<%- item.id %>"><p>
      <strong><%- item.title %></strong>
      <% if (item.slides) { %>
        (<a href="files/<%- item.slides %>">slides</a>)
      <% } %>
      <% if (item.video) { %>
        (<a href="<%- item.pdf %>">video</a>)
      <% } %>
      <br />
      <% if (item.seminar) { %> 
        <em><%- item.seminar %></em>, 
      <% } %>
      <% if (item.city) { %> 
        <%- item.city %>, 
      <% } %>
      <%- item.date %>.
    </p></li>
<% } %>
</ul>
```
